<div class="window">
  <div class="box-size">
    <ion-title class="title">
      Calculator
    </ion-title>
    
    <div class="calculatrice-container">
  
      <div id="screen-result">
        <div class="displayOperation">
          <div>
            <p>{{ num1 }}</p>
          </div>
          <div>
            <p>{{ symbol }}</p>
          </div>
          <div>
            <p>{{ num2 }}</p>
          </div>
        </div>
  
        <div class="result">
          <p>{{ value }}</p>
        </div>
      </div>
        
      <div class="keypad">
        <div class="keypad-touch">
          <div class="numeric-keypad">
            <div 
              class="groupButtons"
              *ngFor="let numGroup of numGroups; let i = index"
            >
              <ion-button 
                class="buttons"
                (click)="pressNumericKeypad(number)"
                *ngFor="let number of numGroup"
              > {{ number }} </ion-button>
              <div *ngIf="i === 3">
                <ion-button 
                  class="symbol"
                  (click)= "clear()"
                > c 
                </ion-button>
                <ion-button 
                  class="symbol"
                  (click)= "result()"
                > = 
                </ion-button>
              </div>
            </div>
          </div>
          <div class="symbol-keypad">
            <app-operators (sendOperators) = "pressOperatorsKeypad($event)" ></app-operators>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


