<div class="box-size">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Calculator
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="calculatrice-container">
    <div class="screen-result">
      <ul>
        <li>
          <input 
            class="value"
            [(ngModel)]="num1"
          > 
        </li>
        <li>
          <input 
            class="value"
            [(ngModel)]="symbol"
          > 
        </li>
        <li>
          <input 
            class="value"
            [(ngModel)]="num2"
          > 
        </li>
      </ul>
    </div>
      
    <div class="keypad">
      <div class="keypad-touch">
        <div class="numeric-keypad">
          <app-numbers (sendNumbers) = "getChildNumbers($event)"></app-numbers>
        </div>
        <div class="symbol-keypad">
          <app-operators (sendOperators) = "getChildOperators($event)" ></app-operators>
        </div>
      </div>
      <div class="result-keypad">
        <ion-button 
          class="symbol"
          (click)= "result()"
        > = 
        </ion-button>
        <ion-button 
          class="symbol"
          (click)= "clear()"
        > c 
        </ion-button>
      </div>
    </div>
  </div>
</div>


