.app-home {
  height: 33vh;
  border: aquamarine solid;
}
.value {
  font-size: 30px;
  text-align: right;
}

ul {
  border: 1px solid black;

  li {
    background: none;
    border: none;
    display: inline-block;
    width: 0%;

    input {
      border: none;
    }
  }
}

