.window {
  display: flex;
  justify-content: center;
  padding: 20px;

  .title {
    font-size: 22px;
    text-align: center;
  }

  .result {
    text-align: center;
  }

  .box-size {
    width: 20vw;  

    .calculatrice-container {
      height: 50vh;
  
      #screen-result {
        display: flex;
        flex-direction: column;
        width: 90%;

        .displayOperation {
          display: flex;
          justify-content: center;
        }
      } 
      
      .keypad {
        .keypad-touch {
          display: flex;
          justify-content: center;

          .buttons, .symbol {
            width: 50px;
            height: 50px;
          }

          .numeric-keypad {
            justify-content: center;
    
            .groupButtons {
              display: flex;
            }
          }

          .symbol-keypad {
            height: 20vh;
            width: 4vw;
          }
        }
      }
    }
  }
}


